hw10.2/TestStudentService/src/META-INF/wsdl/localhost_8080/Student/StudentDB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://studentservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://studentservice/" name="StudentDB">
<types>
<xsd:schema>
<xsd:import namespace="http://studentservice/" schemaLocation="http://localhost:8080/Student/StudentDB?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<portType name="StudentDB">
<operation name="add">
<input wsam:Action="http://studentservice/StudentDB/addRequest" message="tns:add"/>
<output wsam:Action="http://studentservice/StudentDB/addResponse" message="tns:addResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://studentservice/StudentDB/removeRequest" message="tns:remove"/>
<output wsam:Action="http://studentservice/StudentDB/removeResponse" message="tns:removeResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://studentservice/StudentDB/updateRequest" message="tns:update"/>
<output wsam:Action="http://studentservice/StudentDB/updateResponse" message="tns:updateResponse"/>
</operation>
</portType>
<binding name="StudentDBPortBinding" type="tns:StudentDB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentDB">
<port name="StudentDBPort" binding="tns:StudentDBPortBinding">
<soap:address location="http://localhost:8080/Student/StudentDB"/>
</port>
</service>
</definitions>